@import url(load_sans.css);
/* Page content */
h1 {
    font-family: "BebasNeue";
    font-size: 14em;
    cursor: pointer;
    line-height: 0;
}
/* Page content cursor & hand style */
.cursor, .hand {
    position: fixed;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s;
}
/*  */
.cursor {
    background: black;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 999;
}
/*  */
.hand {
    background: #9b00ff;
    top: 50%;
    width: 150px;
    height: 150px;
    z-index: 9999;
    display: grid;
    place-content: center;
    transform: rotate(45deg);
    opacity: 0;
}
/*  */
.hand svg {
    width: 80px;
}
/* Body style */
body {
    font-family: 'SöhneRegular';
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
}
/*  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*  */
*, html {
    --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}
/* Chatbox */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
/* Content is close */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}
/* Content is open */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}
/* Button */
.chatbox__button {
    text-align: right;
}
/*  */
.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
/* Header */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}
/* Messages */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}
/*  */
.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}
/*  */
.messages__item--operator {
    margin-left: auto;
}
/*  */
.messages__item--visitor {
    margin-right: auto;
}
/* Footer */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}
/*  */
.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* Header */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}
/*  */
.chatbox__image--header {
    margin-right: 10px;
}
/*  */
.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}
/*  */
.chatbox__description--header {
    font-size: .9rem;
    color: white;
}
/* Messages */
.chatbox__messages {
    padding: 0 20px;
}
/*  */
.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}
/*  */
.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
/*  */
.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}
/* Footer */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}
/*  */
.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}
/*  */
.chatbox__send--footer {
    color: white;
}
/*  */
.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}