# macOS specific files
.DS_Store

# Windows-specific files
desktop.ini
Thumbs.db

# Visual Studio Code settings
.vscode/

# Testing files
*/Testing/*
*.file

# Personal study materials
*.zip
first_README.md